.button {
  height: 60px;
  width: 200px;
  color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: black;
}
h1 {
  color: white;
}
